
{% extends 'base.html'%}

{% block title %}Portfolio  {% endblock %}



{% block content %}

    <div class="contianer p-4">
        
        <!--<div class="row ">
            <div class="col">
                <div class="card bg-secondary">
                    <div class="card-body">
                        <h2>About Me</h2>
                        <p>
                            I am a self starter, self taught freelance developer, I have been working with web development for 3 years now, I have worked with many different languages and frameworks, I am currently working with Python, Django, DRF, Flask, HTML, CSS, Javascript, jQuery, and Bootstrap.
                            I have attended several formal schools and have taken many computer sience classes and have taken up to liniar algebra and calculus 2.<br>
                            Below is a list of my projects, links to the github of the project and live versions if availiable.<br>
                            You can reach me at mbidencope3@gmail.com
                            
                        </p>
                    </div>  
                </div>
            </div>
        </div>-->
        <h1 style="color:white;">Projects</h1>
        <div id = "projects" class="row ">
            
            
        </div> 
    </div>
    <script>
        
    
        let projects = new Projects();
        projects.fill();
    </script>
 {% endblock %}