body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html, #app, #app>div, #root {
  display: block;
  height: 100%;

  
}

.colorBox{
  position: relative;
  width: 20%;
  height: 100px;
  margin-right: 10px;
  transition: all 0.4s ease;
   
}

.colorBox:hover{
  transform: scale(1.5);
  z-index: 100;
}

.colorBox.selected{
  transform: scale(1.5);
  z-index: 100;
}

.screenHeightFix {
  display:block;
  flex-grow: inherit;
}


.screenCardFix{
  height: 100%;
}

.contianerContinaer{
  height: 99%;
  overflow:hidden;
}

.scrollContainer{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.scrollCard{
  width: 103%;
  height: 99%;
  overflow: auto;
  padding-right: 17px;
}