<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Add-Project</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='SCSS/scss/custom.css') }}">
    
    <script src="{{ url_for('static', filename='customjs/custom.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>

</head>
<body>    
    <nav class="navbar navbar-light bg-info">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Navbar</span>

        </div>

    </nav>
    <div class="container p-4">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class = "card-body">
                        <form method="POST">
                            <div class="form-group">
                                <label for="projectName">Project Name</label>
                                <input type="text" class="form-control bg-secondary" id="projectName" name="projectName" placeholder="Project Name">
                                <lable for="projectPriority">Project Priority</label>
                                <select class="form-control bg-secondary" id="projectPriority" name="projectPriority">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <lable for="projectDescription">Project Description</label>
                                <textarea class="form-control bg-secondary" id="projectDescription" name="projectDescription" rows="3"></textarea>
                                <lable for="projectSkills">Project Skills</label>
                                <div id="projectSkills" name="projectSkills">
                                    <div class="card bg-secondary" id="selected-skills" style="">
                                        
                                        <div class="row m-2">
                                            Selected Skills:
                                            <div class="col">
                                                <span  id="askill1"  style='display:none' class = "toskills m1" onclick="removeSkill('skill1')">
                                                    <img src="https://img.shields.io/badge/Python-3776AB?style=for-the-badge&logo=python&logoColor=white" >
                                                </span>
                                                <span  id="askill2" style='display:none' class = "toskills m1" onclick="removeSkill('skill2')">
                                                    <img src="https://img.shields.io/badge/Django-092E20?style=for-the-badge&logo=django&logoColor=white">
                                                </span>
                                                <span  id="askill3" style='display:none' class = "toskills m1" onclick="removeSkill('skill3')">
                                                    <img src="https://img.shields.io/badge/JavaScript-F7DF1E?style=for-the-badge&logo=javascript&logoColor=black">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="card bg-secondary mt-2" id="unselected-skills">
                                        <div class="row m-2">
                                            Add Skills:
                                            <div class="col">
                                                <span  id="skill1" class = "toskills" onclick="addSkill('skill1')">
                                                    <img src="https://img.shields.io/badge/Python-3776AB?style=for-the-badge&logo=python&logoColor=white">
                                                </span>
                                                <span  id="skill2" class = "toskills" onclick="addSkill('skill2')">
                                                    <img src="https://img.shields.io/badge/Django-092E20?style=for-the-badge&logo=django&logoColor=white">
                                                </span>
                                                <span  id="skill3" class = "toskills" onclick="addSkill('skill3')">
                                                    <img src="https://img.shields.io/badge/JavaScript-F7DF1E?style=for-the-badge&logo=javascript&logoColor=black">
                                                </span>
                                                
                                        
                                        
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <button type="submit" class="btn btn-info">Submit</button>
                            {{error}}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

        
        
    </script>
</body>
</html>