<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>test</title>
    <link rel="stylesheet" href="{{file}}">
</head>
<body>    
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Navbar</span>

        </div>

    </nav>
    <div class="contianer p-4">
        <div class="row">
            <div class="col">
                <div class="card bg-secondary">
                    <div class="card-body">
                        <h2>About Me</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Quisquam, quidem.
                        </p>
                    </div>  
                </div>
            </div>
        </div>
        <h1 style="color:black;">Projects</h1>
        <div class="row pt-2" >
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h2>Project 1</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Quisquam, quidem.
                        </p>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Github</button>
                            <button type="button" class="btn btn-primary">Live</button>
                        </div>
                    </div>  
                </div>
            </div>
            <div class="col-6">
                
                <div class="card ">
                    <div class="card-body">
                        <h2>Project 2</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Quisquam, quidem.
                        </p>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Github</button>
                            <button type="button" class="btn btn-primary">Live</button>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>