//https://coolors.co/000000-0c1821-1b2a41-324a5f-e26d5a

/* SCSS HEX */
$a-blue: #0C1821;
$y-blue: #1B2A41;
$frost: #1B2A41;
$b-blue: #a3cef1ff;
$b-grey: #324A5F;

$primary: $y-blue;
$danger: #ff4136;

$info: #E26D5A;
//$info: #A69888;
$card-bg: $frost;
$secondary: $b-grey;
$body-bg: $a-blue;
$card-color: white;


$navbar-light-color: rgba($frost, .55);
$navbar-light-hover-color: rgba($frost, .7);
$navbar-light-active-color:rgba($frost, .9);
$navbar-light-disabled-color:rgba($frost, .3);
$navbar-light-toggler-border-color:rgba($frost, .1);


@import "../bootstrap/scss/bootstrap";

